<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>City of Bloomington Color Guidelines</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div class="grid-cell grid-cell--center tc">
<!-- www.su-na.com -->
  <div class="dib brs mvs mhs bg-suna-red-pink sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Biscay</span>
      <br>#183365
    </p>
  </div>
  <div class="dib brs mvs mhs bg-azure sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Azure</span>
      <br>#315da6
    </p>
  </div>
<!-- www.frame.io -->
  <div class="dib brs mvs mhs bg-sail sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Sail</span>
      <br>#c9e5f7
    </p>
  </div>
  <div class="dib brs mvs mhs bg-light-blue sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Light Blue</span>
      <br>#a1b5d6
    </p>
  </div>
  <div class="dib brs mvs mhs bg-havelock sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Havelock Blue</span>
      <br>#4990e2
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-purple sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Dodger Blue</span>
      <br>#3f9dff
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-form-bg sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Cornflower</span>
      <br>#90c2e7
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-form-textholder sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Bright Turquoise</span>
      <br>#0ffae3
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-form-border sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Fern</span>
      <br>#4caf50
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-form-font-color sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Sushi</span>
      <br>#8bc34a
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-form-font-bg sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Deyork</span>
      <br>#77CC7D
    </p>
  </div>
  
  <div class="dib brs mvs mhs bg-frame-menu-bg sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Spring Rain</span>
      <br>#a1cca5
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-menu-link sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Roman Coffee</span>
      <br>#795548
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-menu-link-hover sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">California</span>
      <br>#FF9800
    </p>
  </div>
  <div class="dib brs mvs mhs bg-golden sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Golden Tainoi</span>
      <br>#ffc95c
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-menu-button sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Pomegranate</span>
      <br>#414654
    </p>
  </div>
  <div class="dib brs mvs mhs bg-red sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Red</span>
      <br>#a31621
    </p>
  </div>
    <div class="dib brs mvs mhs bg-sunglo sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Sunglo</span>
      <br>#4C5160
    </p>
  </div>
  <div class="dib brs mvs mhs bg-brink sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Brink Pink</span>
      <br>#f7567c
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-pane-sidemenu sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Gainsboro</span>
      <br>#ffc95c
    </p>
  </div>
  
  <div class="dib brs mvs mhs bg-frame-sidemenu-button sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Silver</span>
      <br>#C0C0C0
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-sidemenu-button-hover sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Silver Chalice</span>
      <br>#9e9e9e
    </p>
  </div>
  <div class="dib brs mvs mhs bg-frame-sidemenu-link sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Gothic</span>
      <br>#607d8b
    </p>
  </div>
  <div class="dib brs mvs mhs bg-slate sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Dark Slate</span>
      <br>#4a4a4a
    </p>
  </div>
  <div class="dib brs mvs mhs bg-mine-shaft sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Mine Shaft</span>
      <br>#212121
    </p>
  </div>
    <div class="dib brs mvs mhs bg-vista-white sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Vista White</span>
      <br>#fcf7f8
    </p>
  </div>
    <div class="dib brs mvs mhs bg-wafer sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Wafer</span>
      <br>#eee4e1
    </p>
  </div>
   <div class="dib brs mvs mhs bg-gin-fizz sg-swatch--m" ng-repeat="c in color.colors">
    <p class=" pos-rel bg-1 man pvl phs sg-swatch-bg sg-text-meta tc caps border-top border--4 ng-binding">
      <span class="fw-semibold ng-binding">Gin Fizz</span>
      <br>#fffae3
    </p>
  </div>
</div>
  
  
</body>
</html>
